#contenedor__Padre{
    -fx-background-color: "#0f0e17";
}
#lbl__title{
    -fx-font-family: "Inconsolata";
    -fx-text-fill: "#FFF";
    -fx-text-alignment: center;
    -fx-font-size: 20;
}

#cbxDivisaUno {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}